{erl_opts, [debug_info]}.
{deps, [
	{cowboy, {git, "https://github.com/ninenines/cowboy.git", {branch, "master"}}},
	{poolboy, {git, "https://github.com/devinus/poolboy.git", {branch, "master"}}},
	{jiffy, {git, "https://github.com/davisp/jiffy.git", {branch, "master"}}}

]}.

{relx, [{release, { web_api, "1.0" },
         [web_api,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
